.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(3, 200px);

    /* Horizotal */
    /* auto | start | end | center | stretch */
    justify-items: center;
    /* Vertical */
    /* auto | start | end | center | stretch */
    align-items: center;

}

.container .item {
    background-color: #ff8000;
    justify-self: stretch;
    align-self: start;
}